@font-face {
    font-family: "DeliciousFont Reg";
    src: url("/fonts/Brandon_reg.otf");
}
@font-face {
    font-family: "DeliciousFont Bold";
    src: url("/fonts/Brandon_bld.otf");
}
@font-face {
    font-family: "DeliciousFont Thin";
    src: url("/fonts/Brandon_thin.otf");
    font-weight:thin;
}

html, body {
  font-family: 'DeliciousFont Reg';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DeliciousFont Bold';
  text-transform: uppercase;
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 1em 2.2em;
  background-color: rgb(239, 239, 239);
  height: 100%;
  box-shadow: 0px 0px 30px -6px darkgrey;
  color: #337ab7;
}
html,
body {
  /*height: 100%;*/
  background-color: #333;
}

agm-map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
