<!-- <div class="col-lg-offset-3" style="text-align:left; padding-left:20px;" >

    <table class="table table-hover">
        <thead>
            <th>Id</th>
            <th>Place</th>
            <th>Size</th>
            <th>Price</th>
            <th>Current Status</th>
        </thead>
        <tbody></tbody>
    </table>
</div> -->
<agm-map [latitude]="coords[0].lat" [longitude]="coords[0].lng" *ngIf="coords?.length > 0">
  <agm-marker *ngFor="let c of coords" [latitude]="c.lat" [longitude]="c.lng" (markerClick)="openEditWindow(c)"></agm-marker>
</agm-map>
