<div class="clear-fix"></div>
<div class="leftstyle">
  <h3>Add Billboard</h3>
<form class="form addform" style="width:50%">
    <div class="form-group">
        <label for="place" > Enter Place </label>
        <input type="text" class="form-control" name="place" [(ngModel)]="place">

    </div>
    <div class="form-group">
        <label for="latitude">Latitude: </label>
        <input type="text" class="form-control" name="lat" [(ngModel)]="lat">
    </div>
    <div class="form-group">
        <label for="longitude">Longitude: </label>
        <input type="text" class="form-control" name="lng" [(ngModel)]="lng">
    </div>
    <!-- <div class="">
        <h5>Select Your Place of Billboard on the Map</h5>
    <agm-map [latitude]="8.5241" [longitude]="76.9366">

    </agm-map>
    </div> -->

    <div class="form-group">
        <label for="price">Price: </label>
        <input type="number" class="form-control" name="price" [(ngModel)]="price">
    </div>
    <div class="form-group">
        <label for="size">Size: </label>
        <input type="text" class="form-control" name="size" [(ngModel)]="size">
    </div>

    <button class="btn btn-primary" (click)="addNewBB()">Submit</button>


    </form>

</div>
<!-- <div *ngIf="lat && lng"> -->
  <agm-map [latitude]="lat" [longitude]="lng" >
    <agm-marker [latitude]="lat" [longitude]="lng" *ngIf="lat && lng"></agm-marker>
  </agm-map>
<!-- </div> -->
