

.form-padding{
    padding: 10px 10px;

}
.addform{
    align-content:center;


}

/*agm-map {

  width: 100%;
  height: 70%;
  z-index: 1;

}*/

.leftstyle{
    align-content: left;
    padding: 10px 10px;
    text-align:left;
    z-index: 100;
    position: fixed;
    left: 10px;
}
.leftstyle * {
  z-index: 100;
}
