


<div class="rizapappu">
    <div class="site-wrapper">

      <div class="site-wrapper-inner">


         <div class="cover">

          <div class="masthead clearfix">
            <div class="inner">

              <nav>
                <ul class="nav masthead-nav">

                  <li class="active"><a href="/" [routerLink]="'/'">Home</a></li>

                  <li><a href="/about" [routerLink]="'/about'">About</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Wanna reach the right audience?</h1>
            <p class="lead">Boardbay helps you find the right places to express yourself!</p>
            <p class="lead goherebutton">
              <a href="/business-owner" [routerLink]="'/business-owner'" class="btn btn-lg btn-default">
                Place an Ad
              </a>
              <a href="/agency" class="btn btn-lg btn-default">Place a BillBoard</a>

            </p>
          </div>

          </div>
          </div>
        </div>

      </div>
