  <!-- <div class="row"> -->

  <!-- <header class="col-lg-3">
    <h1>Contempt</h1>
    <hr>
    <a href="/" [routerLink]="'/'" class="btn btn-block btn-primary">Home</a>
    <a href="/business-owner" [routerLink]="'/business-owner'" class="btn btn-block btn-primary">Chicks</a>
    <a href="/agency" [routerLink]="'/agency'" class="btn btn-block btn-primary">Ducks</a>
    <hr>
  </header> -->
  <router-outlet></router-outlet>
<!-- </div> -->
