.tags-wrapper {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 30%;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 30px -10px black
}

.tag-display {
}

.tag-display .row {
  margin: 0;
}

.tag-display .tag-title {

}

.tag-display .tag-del {

}

.tag-display .tag-del a {
  color: white;
}

.tag-add {

}

.results-wrapper {
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #f7f7f7;
  box-shadow: 0 0 30px -10px black;
  text-align: center;
}

.results {

}

.results .result {

}

.search-location-wrapper {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30%;
}

.pie-chart-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
