<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="coords[0].lat" [longitude]="coords[0].lng" *ngIf="coords">
  <agm-marker *ngFor="let c of coords" [latitude]="c.lat" [longitude]="c.lng"></agm-marker>
</agm-map>
<div class="tags-wrapper">
  <ul class="list-group">
    <li *ngFor="let tag of tags" class="tag-display list-group-item">
      <span class="badge tag-del" (click)="deleteTag($event, tag)">
        <a href='#'>
          <i class="fa fa-times"></i>
        </a>
      </span>
      {{ tag }}
    </li>
  </ul>
  <div class="tag-add">
    <form (submit)="addTag($event)">
      <div class="input-group">
        <input type="text" class="form-control" name="tagName" [(ngModel)]="tagName" />
        <span class="input-group-btn">
          <button class="btn btn-sm btn-primary">Add Tag</button>
        </span>
      </div>
      <br/>
      <input type="button" class="btn btn-block btn-success" value="Search places" (click)="searchPlaces()" />
    </form>
  </div>
  <div class="results-wrapper" *ngIf="coords && coords[0].title">
    <h2>Metrics</h2>
    <div class="results">
      <div class="result" *ngFor="let result of coords">
        <div class="title">
          <h3>{{ result.title }}</h3>
        </div>
        <div class="body">
          <div style="display: block" *ngIf="result">
            <canvas baseChart
              [data]="result.data.avgScores | values"
              [labels]="result.data.avgScores | keys"
              [legend]="false"
              [chartType]="'bar'"></canvas>
            <canvas baseChart
              [data]="trafficData | values"
              [labels]="trafficData | keys"
              [legend]="false"
              [chartType]="'bar'" *ngIf="trafficData"></canvas>
          </div>
          <button class="btn btn-block btn-info">Contact Seller</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="search-location-wrapper">
  <div class="search-location">
    <div class="input-group">
      <input type="text" class="form-control" name="searchLocation" [(ngModel)]="searchLocation" />
      <span class="input-group-btn">
        <button class="btn btn-sm btn-primary" (click)="findPlaceCoord()">Search</button>
      </span>
    </div>
  </div>
</div>

<div class="pie-chart-wrapper" *ngIf="pieData">
  <canvas baseChart
    [data]="pieData | values"
    [labels]="pieData | keys"
    [legend]="false"
    [chartType]="'pie'"></canvas>
</div>
