<div>

    <div class="navie">
      <a href="/" [routerLink]="['/']">
        <i class="fa fa-user"></i>
      </a>
      <br/>
      <br/>
      <br/>
      <br/>
      <a href="/agency/add" [routerLink]="['/agency', 'add']">
        <i class="fa fa-plus"></i>
      </a>
      <br/>
      <br/>
      <br/>
      <br/>
      <a href="/agency/edit" [routerLink]="['/agency', 'edit']">
        <i class="fa fa-pencil"></i>
      </a>
    </div>

</div>

<router-outlet></router-outlet>
