.navie {
  position: fixed;
  top: 0;
  right: 0;
  padding: 4em;
  z-index: 100;
}

.navie a {
  color: white;
  background-color: dodgerblue;
  padding: 1em;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  text-decoration: none;
}
