
<div class="col-lg-9">
    
      
    <div class="masthead clearfix">
            <div class="inner">
              
              <nav>
                <ul class="nav masthead-nav">
                
                  <li ><a href="/" [routerLink]="'/'">Home</a></li>
                  
                  <li class="active"><a href="/about" [routerLink]="'/about'">About</a></li>
                </ul>
              </nav>
            </div>
          </div>
    <h2 style="    position: absolute;
    top: 150;
    left: 10%;">
        Angel Hack!
    </h2>
       
</div>